
.settingsDiv{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    z-index: 1;
}
.comp-name{
    font-size: 65px;
    text-align: center;
}
@media (max-width: 600px) {
 .comp-name{
    font-size: 30px;
 }body{
    background-color: aliceblue;
 }
}