.act-btn{
    margin: 1%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 2px;
    color: black;
    font-weight: 300;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    width: fit-content;
    cursor: pointer;
    padding: 0.4%;
    font-weight: 600;
}
.act-btn i{
    color: black;
    margin: 1%;
}
body{
    width: 100vw;
    overflow-x: hidden;
    margin-left: 0px;
}
.download-stmnt{
    padding: 0.5%;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    border: none;
    background: none;
}

.insight-navbar{
    display: flex;
    margin:10px 50px;
}
.download-stmnt img{
    width: 30px;
}
@media (max-width:600px) {
    .download-btn{
        transform: scale(0.8)
    }
}