
  .modal-overlay{
    display: flex;
    justify-content: center;
    width: 90vw;
  }
  /* Modal Content */
  .modal-content {
    background: var(--secondary-color);
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 3px black;
    width: 80vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
    text-align: center;
    animation: openModal .4s;
  }
 
  
  /* Modal Heading */
  .modal-content h2 {
    /* color: white; */
    margin-bottom: 15px;
  }
  
  /* Form Fields */
  .modal-content .input-field,.input-field-select{
    width: 240px;
    background: white;
    color: black;
    /* border: none; */
    border: 0.5px solid rgb(31, 31, 31);
    padding: 8px;
    /* margin:10px 60px 15px; */
    outline: none;
    margin: 10px;
  }

  
  /* Dropdown Styling */
  .input-field option {
    background: rgb(255, 255, 255);
  }
  
  /* Button Container */
  .button-container {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    width: 70vw;
  }
  
  /* Buttons */
  .cancel-button, .add-button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin: auto 1%;

  }
  
  .cancel-button {
    background: rgb(255, 255, 255);
    color: rgb(32, 32, 32);
    transition: 0.1s;
  }
  
  .add-button {
    background: var(--accent-color);
    color: rgb(0, 0, 0);
    transition: 0.1s;
  }
  .button-container button:hover{
    transition: 0.1s;
    transform: scale(1.05);
  }
.button-container button:active{
  transform: scale(0.9);
}
.expense-form{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  align-items: center;
}
.input-field-select{
  width: 260px;
}
@keyframes openModal{
  0%{
    opacity: 0;
    margin-top: -20%;
  }
  100%{
    opacity: 1;
    margin-top: 1%;
  }
}
