.addExp{
    display: flex;
    /* margin-left: 10px; */
    align-items: center;
    width: fit-content;
    justify-content: center;
    gap: 20px;
    width: 95vw;
}
.add{
    color: rgb(24, 24, 24);
    font-weight: 600;
    display: flex;
    align-items: center;
    background: var(--accent-color) !important;
    border-radius: 10px;
    border: solid black 0.5px !important;
    transition: 0.2s;
    cursor: pointer;
    text-wrap: nowrap;
    width: 180px;
    height: 20px;
    padding: 20px;
}
.add:hover{
    transition: 0.2s;
    color: black;
    background-color: white !important;
}

.add:active{
    transform: scale(0.9);
}
@media (max-width:600px) {
    .add{
        margin: 5px;
        border-radius: 5px;
    }

}