.filter-div{
    margin: 2%;
}
.filter-div label{
    margin-left: 1%;
}
.filter-div input{
    background-color: white;
    border: solid black 0.5px;
    width: 300px;
}
.filter-div input,.filter-div select{
    padding: 0.3%;    border-radius: 10px;
}
.search-filter{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
}
.search-filter i{
    background-color: var(--primary-color);
    padding: 7px;
    color: white;
    border-radius: 10px 0px 0px 10px;
}
#searchFilter{
    border-radius: 0px 10px 10px 0px;
}
.filter-select-div{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.sort-by-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.filter-selects{
    display: flex;
    flex-direction: column;
}
@media (max-width:600px) {
    #searchFilter{
        width: 60%;
        border-radius:0px 10px 10px 0px;
        padding: 4px;
    }
    select{
        width: 100px;
        border-radius: 4px !important;
    }
    .input-picker{
        padding: 2px !important;
        margin: 20px 5px !important;
    }
}