.filter-div{
    margin: 2%;
}
.filter-div label{
    margin-left: 1%;
}
.filter-div input{
    background-color: white;
    border: solid black 0.5px;
    width: 300px;
}
.filter-div input,.filter-div select{
    padding: 0.3%;    border-radius: 10px;
}
@media (max-width:600px) {
    #searchFilter{
        width: 95%;
        border-radius: 2px;
        margin-bottom: 20px;
    }
    select{
        width: 100px;
        border-radius: 4px !important;
    }
    .input-picker{
        padding: 2px !important;
        margin: 20px 5px !important;
    }
}