*{
  margin :0px;
  font-family: "Manrope", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  color: rgb(49, 49, 49);
}
body{
  background-color: var(--background-color);
  width: 100vw;
  overflow-x: hidden;
  margin-left: 40px;
}
button:hover{
  transform: scale(1.05);
  transition: 0.1s;
}
button:active{
  transform: scale(.95);
  transition: 0.1s;
}
:root{
  --primary-color:rgb(78, 100, 129);
  --accent-color:rgb(204, 222, 243);
  --secondary-color:rgb(103, 131, 182);
  --background-color:rgb(255, 255, 255);
}
@media (max-width: 600px) {
 *{
  font-size: 12px;
 } 
 body{
  width: 100vw;
  overflow-x: hidden;
  margin-left: 0px;
 }
 :root{
 --secondary-color:rgb(255, 255, 255);
 }
}